/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* my code begins below */

*{
  box-sizing: border-box;
}
body {
  padding : 0;
  margin : 0;
  color : whitesmoke;
  background-color: #191a1c;
  font-family: 'EB Garamond';
}
/* global Styles */
/*font family*/


ul {
  list-style: none;
}
a {
  text-decoration: none;
  color : whitesmoke;
}
.descriptionText {
  font-size: 140%;
  line-height: 30px;
  color : #9da1a5;
}
.container {
  width: 90%;
  margin: auto;
}
/* icons */
.icon {
  color : #fab95b;
  margin-right: 10px;
  font-size: 20px;
}
.footerTexts {
  font-size: 130%;
  line-height: 25px;
  color : #9da1a5;
}
.highlight {
  transition: .5s all ease;
  color : #fab95b;
}




/* Navigation styles */
.active {
  color : #fab95b !important;
}
.navLinks {
  padding: 10px;
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}
#logo, #logo a{
  padding: 0px !important;
  margin : 0px !important;
}
.navLinks nav ul{
  display: flex;
  text-align: center;
  justify-content: center;
}
.navLinks nav ul li {
  margin : 15px 18px 15px 15px;
}
.navLinks nav li a {
  transition: .5s all ease;
  cursor: pointer;
  color : whitesmoke;
  padding : 5px;
  font-size: 120%;
}
.navLinks nav ul li img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 30px;
  margin-top: 15px;
}
#phoneLogo img {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100px;
   height: 30px;
   padding: 0px;

 }
 #phoneMenu *{
   cursor: pointer;
 }

 .iris {
   align-self: center;
 }
 #navIcon {
   color : #fab95b;
 }
.navLinks a:hover {
  color : #fab95b;
}

/* nav style for scroll effect */
.navScroll {
  animation: 2s colorEffect;
  background-color: rgb(0,0,0,.4);
  position: fixed;
  width: 100%;
  top: 0;right: 0;
  z-index: 10;
}
.navHide {
  animation: 1s fadeOut;
  background-color: rgb(0,0,0,.4);
  position: fixed;
  width: 100%;
}

/* phone type style navigation  */
#phoneMenu{
  text-align: right;
  background-color: rgb(0,0,0,.4);
  padding : 20px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}
.sideMenu {
  position: relative;
}
.sideMenu #navigation {
  display: flex;
  flex-direction: column;
  position : fixed;
  z-index: 10;
  height: 100%;
  width:0px;
  top : 0 !important; right : 0px !important;
  background-color: rgb(0,0,0,.4);
  overflow: hidden;
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sideMenu nav ul li {
  padding: 8px;
  font-size: 25px;
  transition: 0.3s;
}
.sideMenu nav ul li a {
  transition: .5s all ease;
  cursor: pointer;
}
.sideMenu nav a:hover {
  color : #fab95b;
}

#closeNav {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Homepage Background style */

.homeBg {
  position: relative;
  width: 100%;
  min-height: 800px;
  background-image: url('../../images/homeBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* intro Text section */
.introTextContainer {
  position: absolute;
  padding : 10px;
  color : whitesmoke !important;
  display: flex;
  width: 35%;
  flex-direction: column;
  margin-left: 100px;
  top  : 30%;
}
.introTextContainer h1 {
  margin : 0px;
  padding : 0px;
  font-size: 40px;
}
.introTextContainer p {
  font-size: 140%;
  line-height: 30px;
  margin-top : 20px;
  margin-bottom: 0px;
}
.fadeText {
  color : #6c757d !important;
}
.introTextContainer span {
  margin : 0px 10px 0px 10px;
}

/* buttons */

.mainButton {
  transition: .7s all ease;
  outline: none;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #fab95b;
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  color : white;
  cursor: pointer;
}

.mainButton:hover {
  background-color: #111;
}

/* about me section */
.aboutMeRight h3 {
  margin-top: 0px;
}
.aboutMeLeftSection {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height : 600px;
}

.aboutMeContainer{
  margin-top : 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.descriptionText2 {
  font-size: 16px;
  line-height: 1.8em;
}
.aboutRightImages{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top : 20px;
  margin-bottom: 200px;
}
.aboutRightImages div {
  width: 90%;
}

.aboutRightBg1, .aboutRightBg2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height: 300px;
}

/* my skills section */
.mySkills{
  /* display: flex; */
  margin-bottom: 100px;
}

.skillRange div {
  margin-bottom: 20px;
}
/* .mySkills .col1 {
  flex : 1;
  margin-right: 100px;
}
.mySkills .skillRange {
  flex : 5;
} */
/* styling the progress bars and labels */

/*Styling Progress bars are a huge Pain in the fucking round balls ... Damn... !!!*/
.mySkills  label {
  display: block;
	font-family: monospace;
	font-size: 110%;
	margin-right: 5px;
	min-width : 160px;
  color : #9da1a5;
}
.mySkills progress {
	/*first remove the default progress looks of all browsers*/
	-webkit-appearance : none ;
	-moz-appearance : none;/*for moz-firefox*/
	appearance : none;
}
/*lets create a general rule style for progress*/
.mySkills progress {
	height : 3px;
	background: #dfdfdf;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 5px;
	min-width: 95%;
  color : #fab95b;
}

/*now lets style the progress anyhow we want(having disabled the default looks*/

.mySkills progress::-webkit-progress-bar {
	/*for Chrome and Safari*/
	height : 3px;
	background: #dfdfdf;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 5px;
}
.mySkills progress::-webkit-progress-value {
  /*color for the values.... orange like color*/
	background-color: #fab95b;
	border-radius: 5px;
}
.mySkills progress::-moz-prgress-bar {
	/*For Mozilla Firefox*/
	background-color: #fab95b;
	border-radius: 5px;
}
/* author image  */
.skillSectionDivider {
  display: grid;
  grid-template-columns: 6fr 4fr;
}
.authorImage {
  background-image: url('../../images/authorImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height: 400px;
}

/* my Services section */
/* .servicesHeader h2::first-letter {
  border-bottom: 1px solid #fab95b;
} */
.servicesContainer {
  margin-bottom: 150px;
}
.servicesContainer .cardContainer {
  background-color: #202224;
  color : #333;
  padding: 10px;
  margin : 20px;
  /* border : 2px solid #fab95b; */
}
.servicesContainer .cardContainer .descriptionText2 {
  color : rgb(170,170,170);
}
.servicesContainer .cardContainer span {
  margin : 0px 10px 0px 0px;
  color : #fab95b;
  font-size: 150%;
}
.servicesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.servicesContainer .cardContainer:hover {
  /* transition: .3s all ease; */
  border : 2px solid #fab95b;
  padding : 8px;
}
@keyframes fadeEffect {
  from {opacity: .3}
  to {opacity: 1;}
}
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0;}
}
/* video section */

iframe {
  width: 100%;
  height: 300px;
  background-color: #202224;
}
.vidFiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 90%;
  margin-bottom: 200px;
}




/* Gallery Section */
.galleryBg {
  position: relative;
  margin-bottom: 100px;
}
.galleryBg img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height: 500px;
  filter: brightness(50%);
}

.entryHeading h1 {
  font-size: 50px;
}

.entryHeading {
  position: absolute;
  top : 10%;
  right : 25%;
  bottom: 30%;
  left: 25%;
  z-index: 2;
  text-align: center;
  color : whitesmoke;
}

.cover {
  overflow: hidden;
}
.galleryImageBg {
  transition: .5s all ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height: 580px;
}
.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 200px;
}
.galleryImageBg:hover {
  transform: scale(1.2);
  filter: brightness(60%);
}

/* blog section */
#galleryHeading {
  font-size: 50px;
  margin-bottom: 60px;
}
.blogContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 200px;
}
.blogs, .addressBg {
  background-color: #202224;
}
.blogTextContainer {
  padding : 0px 20px 10px 20px;
}
.blogs small {
  color : #9da1a5;
}
.timeAuthorTextContainer {
  display: flex;
  justify-content: space-between;
}
.blogsBg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height: 300px;
}
.blogs .readMore {
  color : #fab95b;
}
.blogs:hover {
  /* box-shadow: 2px 2px 1px 1px rgb(0,0,0,0.2); */
  box-shadow: 0 1px 2px 0px rgba(250, 250, 250, 0.1);
}
.blogs h2:hover > a {
  transition: .5s all ease;
  color : #fab95b !important;
}


/* Contact section */
.formContainer {
  margin-bottom: 200px;
}
.formContainer input[type='text'], input[type='email'] , textarea {
  margin : 10px;
  width : 100%;
  background-color: #202224;
  padding : 10px;
  color : whitesmoke;
  border : none;
  outline: none;
}
.formContainer button {
  margin : 10px;
}
input:focus, textarea:focus {
  border : 1px solid #fab95b !important;
  margin : 9px;
}
.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 40px;
}
.formContainer input[type='text'], input[type='email'] {
  height: 35px;
}
textarea {
  min-height: 250px;
  width: 100%;
  resize: vertical;
  line-height: 1.5em;
}
.formGroup {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 50px;
}

/* address Info section */
.addressBg {
  padding : 10px;
  margin : 10px 10px 15px 10px;
}


/* insta post section */
.instaPosts {
  display: flex;
}
.instaBg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width : 100%;
  height: 200px;
  overflow: hidden;
}
.instaContainer{
  position: relative;
}

.overlay{
  position: absolute;
  top : 0;
  display: none;
  flex-direction: column;
  justify-content: center; /*left to right*/
  align-items: center; /*top to buttom*/
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.instaBg:hover  .overlay{
  animation: .5s colorEffect;
  display: flex;
  background-color: rgb(250,185,91,.9);
}

@keyframes colorEffect {
  from {opacity: .3};
  to {opacity: 1}
}

/* footer section */
footer {
  padding : 50px 0px 100px 0px;
}
footer .container{
  background-color: #202224;
}
footer {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr 1.7fr;
  grid-row-gap: 30px;
}
.footerAbout {
  width : 85%
}
.footerBlogContainer {
  display: flex;
  margin : 10px 10px 10px 0px;
}
.footerblogBg {
  height: 80px;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footerBlogInfo {
  width: 50%;
}
.footerBlogContainer h4, small {
  margin : 0px 0px 5px 5px;
  color : #9da1a5;
}

footer a:hover {
  transition: .5s all ease;
  color : #fab95b !important;
  cursor: pointer;
}
.copyright {
  margin-bottom: 50px;
}
.copyright a {
  color : #fab95b;
}
.socialLinks a{
  margin-right: 20px;
}


/* media query */

@media (max-width: 1020px){

  .introTextContainer {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }


  @media (max-width : 800px)  {
    /* navigation links  */
/* about me section */
    .aboutMeLeftSection {
      height : 400px;
      margin-bottom: 40px;
    }

    .aboutMeContainer{
      display: block;
    }
    /* my skill section */
    .skillSectionDivider {
      display: block;
    }
    .authorImage {
      margin-bottom: 40px;
    }
    /* gallery section */

    .entryHeading {
      right : 15%;
      left: 15%;
    }
    .galleryContainer {
      display: block;
    }
    .galleryImageBg {
      background-position: top center !important;
      height: 600px;
    }
    .blogContainer {
      display: block;
      width: 60%;
      margin-bottom: 200px;
    }
    .blogs {
      margin-bottom: 25px;
    }
    /* contact section */

    .formGroup {
      display: block;
    }
    .block input{
      display: flex;
    }
    .formContainer{
      padding-right: 40px;
      padding-left: 30px;
    }
     .addressContainer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       text-align: center;
     }
     /* insta section */
     .instaPosts {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
     }

/* footer section */
  footer {
    grid-template-columns: 2fr 1fr 2fr;
  }

  @media (max-width : 600px) {

    .descriptionText {
      font-size: 100%;
      line-height:25px;
    }
    .footerTexts {
      font-size: 100%;
      line-height: 20px;
    }
    .homeBg {
      min-height: 650px;
    }
    
    #phoneMenu #phoneLogo {
      text-align: left;
  }

    .mainButton {
      padding : 12px 25px;
    }

    .introTextContainer {
      top : 30%;
      margin-left: 10%;
      margin-right: 10%;
  }
  .introTextContainer h1 {
    font-size: 35px;
  }
  .introTextContainer p {
    font-size: 110%;
    line-height: 23px;
    margin-top: 15px;
}
    .aboutMeContainer {
      margin-top: 40px;
    }
    .aboutMeLeftSection {
      margin-bottom: 20px;
    }
    .aboutRightImages {
      display: block;
      margin-bottom: 60px;
    }
    .aboutRightImages div {
      margin : auto;
      margin-bottom: 20px;
    }
    .authorImage {
      height : 300px;
    }
    .servicesContainer{
      display: block;
    }
    .vidFiles {
      display: block;
    }
    .vidFiles div {
      margin-bottom: 15px;
    }
    .entryHeading {
      left : 5%;
      right : 5%;
      top : 15%;
    }
    .entryHeading h1 {
      font-size: 27px;
      margin : 10px;
    }
    .galleryBg img {
      height : 300px;
    }
    .galleryContainer {
      margin-bottom: 100px;
    }
    .blogContainer {
      width: 90%;
      margin-bottom: 100px;
    }
    .blogTextContainer h2 {
      font-size: 20px;
    }
    .formContainer {
      padding : 10px;
      margin-bottom: 100px;
    }
    
    .addressContainer {
      display: block;
      margin-top: 50px;
    }
    /* footer section */
    footer * h1 {
      font-size: 25px;
    }
    footer * a {
      font-size: 16px;
    }
    footer {
      grid-template-columns: 1fr;
    }
    .footerAbout {
      width: 95%;
    }
    .footerTexts {
      font-size: 20px;
    }

  }/*media end section*/

  }/*media end section*/


  }/*media end section*/








/*  */
